version: 2
updates:
  - package-ecosystem: maven
    directory: "/"
    schedule:
      interval: monthly
    ignore:
      # Managed dependencies for jira-api
      - dependency-name: "org.codehaus.groovy:groovy-all"
      - dependency-name: "com.atlassian.plugins:atlassian-plugins-core"
      - dependency-name: "ch.qos.logback:logback-classic"
      - dependency-name: "org.springframework:spring-beans"
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: monthly
